:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: #FFFFFF;
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0px 5px;
}

main {
    margin: 0 auto;
    max-width: 1280px;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 20px;
}

::-webkit-scrollbar-track {
    background: #242424;
    border-radius: 20px;
}

::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
}

.relative {
    position: relative;
}

@media (prefers-color-scheme: light) {
    // Only villans use light mode
}
